.table > tbody > tr > td.actionTd{
  vertical-align: middle;
  width:40px;
}
.nav-list-categorys .nav-list{
  padding-left:15px;
  margin-bottom:0;
}
.nav-list-categorys .actions{
  white-space: nowrap;
  margin-left: 10px
}
.nav-list-categorys label{
  font-weight: 400; 
  font-size:12px;
}
.nav-list-categorys{
  padding-left:0px;
  padding-right:0px;
  margin-bottom:0;
}
span.nav-toggle-icon{
  font-size:12px;
  top:0px;
  color:#888;
  cursor:pointer;
}

.dataManager {
  font-size: 12px;
  position: relative;
}
.dataManager th.sortable a{
  background:url("/static/moduleAsset/Ui/images/orderable.png") no-repeat 0 4px;
  padding-left:13px
}

.dataManager th.sorted-asc a{
  background-position:0 -27px
}

.dataManager th.sorted-desc a{
  background-position:0 -56px
}
.dataManager-bottomFloat-container {

}
.dataManager .dataManager-bottomFloat {
  padding: 10px;
  bottom:0;
  right:0;
}
.dataManager .dataManager-bottomFloat.floated {
  position: fixed;
  background: #fff;
  -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
}
.dataManager .dataManager-bottomFloat .pagination {
  margin:0;
  margin-left: 15px;
}
.form-search-results {
  position: absolute;
  width:auto;
  max-height: 200px;
  overflow-y: auto;
  background: #fff;
  z-index: 1000000000000000;
  border:1px solid #ccc;
}

.form-search-results>div{
  padding: 5px;
  cursor:pointer;
}
.form-search-results>div:hover{
  font-weight: bold;
  padding: 4px;
  border:1px solid #ccc;
}


.injiCustomSelect select{
  display: none;
}
.injiCustomSelect .customSelect {
  display: block;
  vertical-align: middle;
  position: relative;
}
.injiCustomSelect .customSelect .main-box{
  cursor: pointer;
  overflow: hidden;
  position: relative;

  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.injiCustomSelect .customSelect .main-box .current-item{

}
.injiCustomSelect .customSelect .main-box .chevron{
  position: absolute;
  right:15px;
  top:50%;
  margin-top:-7px;
  height:14px;
  width: 14px;
  overflow: hidden;
}
.injiCustomSelect .customSelect .main-box .chevron i{
  display: block;
}
.injiCustomSelect .customSelect .item-list{
  display: none;
  max-height: 450px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  left:0;
  z-index: 100;
  background: #fff;
  border: 1px solid #ccc;
}
.injiCustomSelect .customSelect .list-item {
  padding:5px;
  cursor:pointer;
  transition: color 0.1s ease;
}